{% extends 'base.html.twig' %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div class="mo-container mo-mt-5">
        <div class="mo-row mo-account">
            <div class="mo-col-lg-4">
                {% include 'account/menu/_sidebar.html.twig' %}   
            </div>
            <div class="mo-col-lg-8">
                <div class="mo-content">
                    <h2>Mon Profile </h2>
                    {# Afficher les messages flash, s'il y en a #}
                    {% include "flash/_flash.html.twig" %}
                    <div class="profile-card">
                        <span class="profile-name">Nom complet: {{ app.user.fullname|e  }}</span><br/>
                        <span class="profile-email">Email: {{ app.user.email|e  }}</span><br/>
                        <span class="profile-role">Role: Admin </span><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}

