{% extends 'base.html.twig' %}
{% block title %} | Ajouter une image {% endblock %}
{% block content %}
    <div class="mo-container mo-mt-5">
        <div class="mo-account mo-row">
            <div class="mo-col-lg-4">
                {% include 'account/menu/_sidebar.html.twig' %}
            </div>
            <div class="mo-col-lg-8">
                <div class="mo-content">
                    <h2> Ajouter une image pour {{ school.nom }} </h2>
                    {# Afficher les messages flash, s'il y en a #}
                    {% include "flash/_flash.html.twig" %}
                    {% import "macro/forms.html.twig" as forms %}
                    <div class="mo-form-container">
                        <form method="post"  enctype="multipart/form-data">
                            <fieldset>
                                <legend>Fichier image école </legend>
                                {# Champs pour le titre et logo de l'école #}
                                {{ forms.form_input('title', 'Titre', errors) }}
                                {# <div class="mo-form-control">
                                    <input type="hidden" name="filename" id="filename" value="logo">
                                </div> #}
                                <div class="mo-form-control">
                                    <label for="fileimage">Fichier image : </label>
                                    <input type="file" name="fileimage" id="fileimage" accept="image/*">
                                    {% if errors.fileimage is defined and errors.fileimage.message is not empty %}
                                        <span class="mo-text-{{ errors.fileimage.type }}">
                                            {{ errors.fileimage.message }}
                                        </span>
                                    {% endif %}
                                </div>
                            </fieldset>
                            <button type="submit" class="mo-btn mo-success mo-rounded">sauvegarder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}