{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="content">
    <div class="example-wrapper">
        <h1>Bienvenu sur mon  {{ site }}! <img src="{{asset('images/touch/android-icon-36x36.png')}}"></h1>
    </div>
</div>
{% endblock %}