{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="mo-content">
    <div class="mo-grid-3">
        <div class="mo-fx-item-1 mo-bg-primary mo-p-1 mo-align-txt-center mo-txt-light">
            <h3>TypeScript</h3>
        </div>
        <div class="mo-fx-item-1 mo-bg-dark mo-p-1 mo-align-txt-center mo-txt-light">
            <h3>ReactJs</h3>
        </div>
        <div class="mo-fx-item-1 mo-bg-rx mo-p-1 mo-align-txt-center mo-txt-light">
            <h3>RxJS</h3>
        </div>
        <div class="mo-fx-item-1 mo-bg-success mo-p-1 mo-align-txt-center mo-txt-light">
            <h3>Symfony</h3>
        </div>
        <div class="mo-fx-item-1 mo-bg-warning mo-p-1 mo-align-txt-center mo-txt-light">
            <h3>Ocaml</h3>
        </div>
        <div class="mo-fx-item-1 mo-bg-default mo-p-1 mo-align-txt-center">
            <h3>Algo</h3>
        </div>
        <div class="mo-fx-item-1 mo-bg-dark mo-p-1 mo-align-txt-center mo-txt-light">
              <h3>Git</h3>
        </div>
        <div class="mo-fx-item-1 mo-bg-primary mo-p-1 mo-align-txt-center mo-txt-light">
            <h3>Docker</h3>
        </div>
        <div class="mo-fx-item-1 mo-bg-primary mo-p-1 mo-align-txt-center mo-txt-light">
            <h3>Talend</h3>
        </div>
        <div class="mo-fx-item-1 mo-bg-primary mo-p-1 mo-align-txt-center mo-txt-light">
            <h3>Linux/Bash </h3>
        </div>
        <div class="mo-fx-item-1 mo-bg-rx mo-p-1 mo-align-txt-center mo-txt-light"> 
            <h3>Sass </h3>
        </div>
    </div>
</div>
{% endblock %}