<header role="banner">
    <nav role="navigation" aria-label="Menu principal">
        <a href="/" rel="accueil" >
            <img src="{{ asset('images/manzowa.png') }}" alt="source github" class="logo" />
        </a>
        <input class="menu-btn" type="checkbox" id="menu-btn-id">
        <label class="menu-icon" for="menu-btn-id">
            <span class="navicon"></span>
        </label>
        <ul class="menu">
            {# <li><a href="#code">Code</a></li>
            <li><a href="#contact">Contact</a></li> #}
        </ul>
    </nav>
</header>