<!-- Content Header   -->
<header class="mo-layout-header" id="home">
    <div class="mo-container">
        <div class="mo-layout-header-content">
            <div class="mo-infos mo-text-center">
                <h1 class="mo-title-bold-1">Christian SHUNGU</h1>
                <h2 class="mo-title-3"> Développeur Backend PHP / Symfony  </h2>
                <p class="mo-title-4">
                    Spécialisé dans les applications métiers critiques, j’interviens sur des systèmes existants
                pour améliorer leur performance, leur fiabilité et leur maintenabilité.
                </p>
                <div class="buttons pt-3">
                    <a  href="{{ url_for('contact.index') }}" class="mo-btn mo-btn-warning mo-rounded">Me contacter</a>
                    <a href="./docs/christian-shungu-cv.pdf" download>
                        <button class="mo-btn mo-btn-primary mo-rounded mo-shadow">TÉLÉCHARGER CV</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Fin Content Header -->