<header role="banner">
    <nav role="navigation" aria-label="Menu principal">
        <a href="/" rel="accueil" >
            <img src="{{ asset('images/touch/android-icon-192x192.png')}}" alt="logo manzowa" class="logo" />
        </a>
    </nav>
</header>