<title>{% block title %}manzowa{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name = "viewport"  content = "width=device-width" >
<meta name = "viewport"  content = "width=invalid-value, initial-scale=1" >
<meta name = "viewport"  content = "width=device-width, initial-scale=1, user-scalable=no" >
<meta name = "viewport"  content = "width=320, initial-scale=1">
<meta name = "viewport"  content = "width=device-width, initial-scale=5" >
<link rel="stylesheet" href="{{ asset('styles/manzowa.min.css') }}">
<link rel="icon" type="image/png" href="{{ asset('images/touch/favicon-96x96.png')}}" />
