 <aside class="sidenav mo-bg-secondary" id="siderbar">
     <ul class="component">
        <li>
            <i class="fas fa-sign-in-alt"></i>
            <span>Composants</span>
            <ul class="menu-hidden">
                <li><a class="line-none" href="{{ path('components.todos') }}">todo</a></li>
                <li><a class="line-none" href="{{ path('components.sgjs') }}">sgjs</a></li>
                <li><a class="line-none" href="{{ path('components.validator') }}">validator form</a></li>
             </ul>
         </li>
         {# <li>
             <i class="fa fa-book"></i>
             <span>Pages supplémentaires</span>
             <ul class="menu-hidden">
                <li><a class="line-none" href="#">typescript</a></li>
                <li><a class="line-none" href="#">reactjs</a></li> 
                <li><a class="line-none" href="#">rxjs</a></li> 
                <li><a class="line-none" href="#">symfony</a></li> 
             </ul>
         </li> #}
     </ul>
 </aside>