 <aside class="sidenav mo-bg-secondary" id="siderbar">
     <ul class="component">
         <li>
             
            <i class="fas fa-sign-in-alt"></i>
             <span>Composants</span>
             <ul class="menu-hidden">
                 <li>
                     <a href="#">Todo</a>
                 </li>
                 <li>
                     <a href="#">Module Jc</a>
                 </li>
                 <li>
                     <a href="#">Validation Form</a>
                 </li>
             </ul>
         </li>
         <li>
             <i class="fa fa-book"></i>
             <span>Pages supplémentaires</span>
             <ul class="menu-hidden">
                 <li>
                     <a href="#">Ipsum</a>
                 </li>
                 <li>
                     <a href="#">Dolor</a>
                 </li>
             </ul>
         </li>
     </ul>
 </aside>