 <aside class="sidenav" id="siderbar">
     <ul class="component">
        <li>
            <i class="fas fa-sign-in-alt"></i>
            <span>Composants</span>
            <ul class="menu-hidden">
                <li><a class="line-none" href="{{ path('components.todos') }}">todo</a></li>
                <li><a class="line-none" href="{{ path('components.sgjs') }}">sgjs</a></li>
                <li><a class="line-none" href="{{ path('components.validator') }}">validator form</a></li>
             </ul>
         </li>
         <li>
             <i class="fas fa-sign-in-alt"></i>
             <span>PHP</span>
             <ul class="menu-hidden">
                <li><a class="line-none mo-isDisabled" href="#">PHP Scripts</a></li>
                <li><a class="line-none mo-isDisabled" href="#">Slim</a></li> 
                <li><a class="line-none mo-isDisabled" href="#">Symfony</a></li> 
             </ul>
         </li>
         <li>
             <i class="fas fa-sign-in-alt"></i>
             <span>Typescript</span>
             <ul class="menu-hidden">
                <li><a class="line-none mo-isDisabled" href="#">TS Scripts</a></li>
             </ul>
         </li>
        <li>
            <i class="fas fa-sign-in-alt"></i>
            <span>RxJS</span>
            <ul class="menu-hidden">
                <li><a class="line-none mo-isDisabled" href="#">Rx Scripts</a></li>
             </ul>
         </li>
         <li>
            <i class="fas fa-sign-in-alt"></i>
            <span>React</span>
            <ul class="menu-hidden">
                <li><a class="line-none mo-isDisabled" href="#">React Natif</a></li>
                <li><a class="line-none mo-isDisabled" href="#">React Natif</a></li>
            </ul>
         </li>
         {# <li>
             <i class="fa fa-book"></i>
             <span>Pages supplémentaires</span>
             <ul class="menu-hidden">
                <li><a class="line-none" href="#">typescript</a></li>
                <li><a class="line-none" href="#">reactjs</a></li> 
                <li><a class="line-none" href="#">rxjs</a></li> 
                <li><a class="line-none" href="#">symfony</a></li> 
             </ul>
         </li> #}
     </ul>
 </aside>