@use "../base/variables" as v;
@use "../base/mixins" as m;
@use "sass:color";
@use "sass:map";

/* =========== Footer layout =================== */
.page-footer {
  background: color.adjust(map.get(v.$grays, "200") , $lightness: 4%, $alpha: 0.2);
  .mo-row {
    height: 80px;
    align-items: center;
    justify-content: space-between;
  }
  p {
    margin-bottom: 0;
  }
  .mo-socials {
    max-width: 210px;
    margin-left: auto;
    .mo-social-item {
      margin-left: auto;
    }
  }
}
/* ========== FIN Footer layout =================== */