@use "../base/variable" as v;
@use "../base/mixin" as m;
@use "sass:map";
@use "sass:color";


/* =========== Header layout =================== */
.mo-layout-header {
  height: 94vh;
  min-height: 650px;
  background: rgb(236.5086206897, 238.75, 240.9913793103);

  .mo-layout-header-content {
    position: relative;
    top: 30vh;
    left: 6vw;
    padding: 0.5rem;
  }
}
.mo-widget {
  @include m.flex;
  position: relative;
  max-width: 650px;
  width: 95%;
  margin: 0 auto;
  border-radius: 50px;
  border: 1px solid #dee2e6; //mo-widget
  padding: 20px 0;
  margin-top: 66vh;
  z-index: 999;
  background: v.$white;
  @include m.box-shadow;
}
.mo-widget-item {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  border-right: 1px solid #dee2e6;
  &:last-child {
    border-right: 0;
  }
  h2,
  p {
    margin: 0;
  }
  p {
    opacity: 0.7;
    font-size: 14px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.mo-subtitle {
  color: v.$orange;
}
