@use "../base/variable" as v;
@use "../base/mixin" as m;
@use "sass:map";
@use "sass:color";

/* ===========  Section layout =================== */
.section {
	position: relative;
	padding: 8.5rem 0;
	&:nth-child(even) {
        background: color.adjust(map.get(v.$grays, "300") , $lightness: 5%, $alpha: 0.2);
  }
	&.bg-white {background-color: v.$white;}
	&.bg-gray {
        background: color.adjust(map.get(v.$grays, "200") , $lightness: 5%, $alpha: 0.2);
	}
}
#service {
	background-color: v.$orange;
	h6 {
		color: v.$white;
	}
}
.mo-section-service {}
.mo-section-skill {}
.mo-section-portfolio{}
.mo-section-projet{}

@media (width <= 599px) {
}
/* =========== FIN Section layout =================== */