/*
* =================================================================
*
*  Projet Manzowa - 
*  Auteur :  Christian SHUNGU Agnes - 2021
*  Date : 11/09/2021
*  Description : Manzowa est une plateforme qui sert de portfolio et 
*  propose d'autres services tel que API REST
*   
* =================================================================
*/
.mo-btn {
  display: inline-block;
  margin: 0 2px;
  padding: 1rem;
  border: none;
}

.mo-rounded {
  border-radius: 0.5rem !important;
}

.mo-btn-primary {
  color: #fff;
  background-color: #011E42;
}

.mo-shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.mo-btn-warning {
  color: #fff;
  background-color: #ffa801;
}

.mo-text-center {
  text-align: center !important;
}

.mo-text-left {
  text-align: left !important;
}

.mo-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mo-item {
  position: relative;
  padding: 15px;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.mo-col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mo-content {
  width: 100%;
  padding: 1rem !important;
  margin: auto;
  text-align: left !important;
}

.mo-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.mo-socials .mo-social-item {
  display: block;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #011627;
  color: #011627;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
.mo-socials .mo-social-item i {
  font-size: 35px;
}

.mo-socials .mo-social-item:hover {
  border-color: #ffa801 !important;
  color: #ffa801 !important;
}

.justify-content-between {
  justify-content: space-between;
}

.mo-btn-voir {
  color: #fff;
  background-color: #ffa801;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  padding: 10;
}
.mo-btn-voir:hover {
  background-color: #ffa801;
  opacity: 0.8;
}

.mo-not-allowed {
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

.mo-text-justifier {
  text-align: justify;
}

.u-avatar-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.u-avatar-lg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.mo-title {
  font-size: calc(18px + 7 * (100vw - 320px) / 880);
  color: #011E42;
}

.mo-section-title {
  font-size: calc(20px + 10 * (100vw - 320px) / 880);
  color: #011E42;
}

.mo-subtitle {
  font-size: calc(13px + 2 * (100vw - 320px) / 880);
  opacity: 0.8;
  color: #011E42;
}

p {
  font-size: calc(14px + 2 * (100vw - 320px) / 880);
  margin-bottom: 12px;
  letter-spacing: 0.6px;
}

pre {
  background: #eaf0fc;
  border: 2px solid #ced4da;
  padding: 10rem;
  border-radius: 0.3rem;
}

.mo-fixed-top {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.mo-affix {
  box-shadow: 0 6px 15px rgba(206, 212, 218, 0.3) !important;
}

.mo-none {
  display: none !important;
}

.mo-show {
  display: block !important;
}

@media (width <= 599px) {
  .mo-row {
    flex-direction: column;
  }
  .mo-row .mo-item {
    max-width: 100% !important;
  }
  .mo-row .mo-col {
    max-width: 100% !important;
  }
}
html {
  display: block;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  color: var(#011627);
}

:root {
  --mo-font-size: 16px;
  --mo-font-family: Arial, sans-serif;
  --mo-primary: rgb(0.4%, 11.8%, 25.9%);
  --mo-primary-hover: rgb(0.4%, 18.4%, 40.4%);
  --mo-warning: rgb(100%, 64.7%, 0.4%);
  --mo-warning-hover: rgb(100%, 75.3%, 30.6%);
  --mo-success: rgb(20.8%, 45.9%, 0.4%);
  --mo-success-hover: rgb(29.8%, 65.9%, 0.4%);
  --mo-danger: rgb(90.2%, 0%, 0%);
  --mo-danger-hover: rgb(100%, 10.2%, 10.2%);
  --mo-info: rgb(56.1%, 92.5%, 100%);
  --mo-info-hover: rgb(76.1%, 96.1%, 100%);
  --mo-dark: rgb(0%, 5.9%, 6.7%);
  --mo-light: rgb(255, 255, 255);
  --mo-secondary: rgb(0%, 33.3%, 65.5%);
  --mo-secondary-hover: rgb(0%, 43.5%, 85.5%);
  --mo-default: rgb(231, 231, 231);
  --mo-default-hover: rgb(224, 224, 224);
}

body {
  color: var(--mo-primary);
  font-size: var(--mo-font-size);
  font-family: var(--mo-font-family);
  box-sizing: border-box;
}

/**
* Layout of layout
*/
.mo-container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mo-container {
  width: 100%;
  padding-right: 1.2em;
  padding-left: 1.2em;
  margin-right: auto;
  margin-left: auto;
}

.mo-skill-container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .mo-container {
    max-width: 1320px;
  }
  .mo-skill-container {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .mo-container {
    max-width: 1140px;
  }
  .mo-skill-container {
    max-width: 800px;
  }
}
@media screen and (min-width: 992px) {
  .mo-container {
    max-width: 960px;
  }
  .mo-skill-container {
    max-width: 600px;
  }
}
/* =========== End layout layout =================== */
.mo-layout-header {
  height: 94vh;
  min-height: 650px;
  border-bottom: 1px solid #dee2e6;
  background-image: url("./../images/vecteezy_vector-concept.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}
.mo-layout-header .mo-layout-header-content {
  position: relative;
  width: 20em;
  top: 35vh;
  left: 6vw;
  background-color: #fff;
  border: 2px dotted #011627;
  padding: 0.5rem;
}
.mo-layout-header .mo-widget {
  position: relative;
  max-width: 650px;
  width: 95%;
  margin: 0 auto;
  border-radius: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 1px solid #dee2e6;
  padding: 20px 0;
  margin-top: 68vh;
  z-index: 999;
  background: #ffffff;
  box-shadow: 0 0 30px rgba(173, 181, 189, 0.4);
}
.mo-layout-header .mo-widget .mo-widget-item {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  border-right: 1px solid #dee2e6;
}
.mo-layout-header .mo-widget .mo-widget-item:last-child {
  border-right: 0;
}
.mo-layout-header .mo-widget .mo-widget-item h2,
.mo-layout-header .mo-widget .mo-widget-item p {
  margin: 0;
}
.mo-layout-header .mo-widget .mo-widget-item p {
  opacity: 0.7;
  font-size: 14px;
}
.mo-layout-header .mo-widget .mo-widget-item h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.mo-subtitle {
  color: #ffa801;
}

.mo-layout-nav {
  background: #fff;
  padding: 1rem;
}
.mo-layout-nav .mo-nav-content {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
}
.mo-layout-nav .mo-nav-content .mo-nav-brand {
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mo-layout-nav .mo-nav-content .mo-nav-brand .mo-nav-logo {
  max-width: 35px;
  max-height: 35px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #ffa801;
}
.mo-layout-nav .mo-nav-content .mo-nav-brand .mo-nav-logo img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 2px;
}
.mo-layout-nav .mo-nav-content .mo-nav-brand .mo-nav-toggler {
  display: none;
  max-width: 35px;
  max-height: 35px;
  border: 1px solid #ffa801;
}
.mo-layout-nav .mo-nav-content .mo-nav-brand .mo-nav-toggler .mo-nav-toggler-icon i {
  font-size: 30px;
  color: #ffa801;
}
.mo-layout-nav .mo-nav-content .mo-nav-menu {
  flex: 2 1 auto;
}
.mo-layout-nav .mo-nav-content .mo-nav-menu .mo-nav-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.mo-layout-nav .mo-nav-content .mo-nav-menu .mo-nav-nav > .mo-nav-item {
  margin: 0.8rem;
}
.mo-layout-nav .mo-nav-content .mo-nav-menu .mo-nav-nav > .mo-nav-item:hover {
  border-bottom: 1px solid #ffa801;
}
.mo-layout-nav .mo-nav-content .mo-nav-menu .mo-nav-nav .mo-nav-link {
  color: #011627 !important;
  font-size: 1.8rem;
  padding: 0;
}

@media all and (max-width: 768px) {
  .mo-nav-content {
    flex-direction: column;
    align-items: start !important;
    gap: 0;
  }
  .mo-nav-content .mo-nav-brand {
    width: 100%;
    flex: 1 1 auto;
  }
  .mo-nav-content .mo-nav-brand .mo-nav-toggler {
    display: block !important;
  }
  .mo-nav-content .mo-nav-menu {
    flex: 1 1 auto;
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    display: none;
  }
  .mo-nav-content .mo-nav-menu .mo-nav-item {
    border-bottom: 1px solid #ffa801;
  }
  .mo-nav-content .mo-nav-menu .mo-nav-item:hover {
    border-bottom: 1px solid #011627 !important;
  }
}
@media (width <= 599px) {
  .mo-nav-content .mo-nav-menu .mo-nav-nav {
    flex-direction: column !important;
  }
  .mo-nav-content .mo-nav-menu .mo-nav-nav .mo-nav-item {
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #ffa801;
  }
  .mo-nav-content .mo-nav-menu .mo-nav-nav .mo-nav-item:hover {
    border-bottom: 1px solid #011627 !important;
  }
}
.section {
  position: relative;
  padding: 8.5rem 0;
}
.section:nth-child(even) {
  background: rgb(236.5086206897, 238.75, 240.9913793103);
}
.section.bg-white {
  background-color: #ffffff;
}
.section.bg-gray {
  background: white;
}

.mo-img-wrapper {
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 30px;
  display: block;
}

.mo-img-wrapper img {
  position: relative;
  width: 100%;
  z-index: 8;
}

.mo-img-wrapper .mo-overlay {
  background: #f39c12;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 100%;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mo-img-wrapper .mo-overlay .mo-overlay-infos {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  color: #fff;
}

.mo-img-wrapper .mo-overlay .mo-overlay-infos h5 {
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 900;
}

.mo-img-wrapper .mo-overlay .mo-overlay-infos a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  line-height: 35px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.mo-img-wrapper .mo-overlay .mo-overlay-infos a:hover {
  background: #fff;
  color: #ffa801;
}

.mo-img-wrapper:hover .mo-overlay,
.mo-img-wrapper:active .mo-overlay {
  bottom: 0;
  visibility: visible;
  opacity: 0.8;
}

.mo-img-wrapper:hover .mo-overlay .mo-overlay-infos,
.mo-img-wrapper:active .mo-overlay .overlay-infos {
  top: 50%;
}

#service {
  background-color: #ffa801;
}
#service h6 {
  color: #ffffff;
}

.page-footer {
  background: rgb(251.85, 252.75, 254.55);
}
.page-footer .mo-row {
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.page-footer p {
  margin-bottom: 0;
}
.page-footer .mo-socials {
  max-width: 210px;
  margin-left: auto;
}
.page-footer .mo-socials .mo-social-item {
  margin-left: auto;
}

/**
* Component Styles for Headings
* Headings for H1 and H6 Styles
*/
.mo-title-1 {
  display: block;
  font-size: 2em;
  line-height: 1.5;
}

.mo-title-2 {
  display: block;
  font-size: 1.5em;
  line-height: 1.5;
}

.mo-title-3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-4 {
  display: block;
  font-size: 1.25em;
  line-height: 1.5;
}

.mo-title-5 {
  display: block;
  font-size: 0.83em;
  line-height: 1.5;
}

.mo-title-6 {
  display: block;
  font-size: 0.67em;
  line-height: 1.5;
}

.mo-title-bold-1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-bold-2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-bold-3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-bold-4 {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-bold-5 {
  display: block;
  font-size: 0.83em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-bold-6 {
  display: block;
  font-size: 0.67em;
  font-weight: bold;
  line-height: 1.5;
}

/* ============================= end the headings =============================== */
.mo-card {
  box-shadow: 2px 3px 10px rgba(206, 212, 218, 0.3);
}
.mo-card .post-details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin-bottom: 15px;
}
.mo-card .post-details a {
  opacity: 0.6;
  color: #444;
  font-size: 15px;
}
.mo-card .post-details a i {
  padding-right: 5px;
}

.mo-custom-card {
  border-radius: 0.3rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.mo-custom-card .mo-card-body {
  padding: 55px 0;
  background-color: #ffffff;
}
.mo-custom-card .mo-card-body i {
  display: block;
  font-size: 40px;
  margin-bottom: 18px;
  color: #011627;
}
.mo-custom-card:hover, .mo-custom-card:active {
  border-color: #011627 !important;
  color: #011627;
}
.mo-custom-card:hover i, .mo-custom-card:active i {
  color: #011627 !important;
}

.testmonial-card {
  background: #ffffff;
  box-shadow: 2px 3px 10px rgba(206, 212, 218, 0.3);
  border-radius: 0.3rem;
  max-width: 700px;
  margin: 10px auto;
  padding: 20px 15px;
}
.testmonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 2px 3px 10px rgba(206, 212, 218, 0.3);
  margin-bottom: 30px;
}
.testmonial-card .title {
  margin-top: 30px;
  font-size: 20px;
}

.mo-card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.mo-card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.mo-card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.mo-card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.mo-card-title {
  margin-bottom: 0.75rem;
}

.mo-card .post-details a {
  opacity: 0.6;
  color: #444;
  font-size: 15px;
}

.mo-card .post-details a i {
  padding-right: 5px;
}

/*# sourceMappingURL=manzowa.css.map */
