@charset "UTF-8";
/*
* =================================================================
*
*  Projet Manzowa - 
*  Auteur :  Christian SHUNGU - 2021
*  Date : 11/09/2021
*  Description : Manzowa est une plateforme qui sert de portfolio et 
*  propose d'autres services tel que API REST
*   
* 
*/
/*================================================================== 
  :: GLOBAL BASE 
  ===================================================================*/
/* 1. Supprimer les marges et les paddings par défaut */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #011627;
}

/* 2. Réinitialiser les tailles de police et les tailles de texte par défaut */
body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 3. Réinitialiser les styles des éléments de formulaire */
input,
textarea,
select,
button {
  border: none;
  outline: none;
  background: none;
}

/* 4. Les liens (a) ne doivent pas avoir de soulignement par défaut */
a {
  text-decoration: none;
  color: inherit; /* Les liens prendront la couleur du texte par défaut */
}

/* 5. Supprimer les bordures et les espacements des listes */
ul,
ol {
  list-style: none;
}

/* 6. Enlever les bordures autour des éléments de tableau */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 7. Cacher les éléments vidéo, audio et iframe (utile si tu veux éviter des espacements indésirables) */
video,
audio,
iframe {
  max-width: 100%;
  display: block;
}

/* 8. Styliser les boutons pour qu'ils n'aient pas d'apparence par défaut dans tous les navigateurs */
button {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

/* 9. Réinitialiser les styles pour les images */
img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}

/* 10. Réinitialiser les styles des éléments HTML comme les divs et les spans */
html,
body,
div,
section,
article,
header,
footer,
main,
nav,
aside {
  display: block;
}

/* 11. Réinitialiser la largeur des éléments inline-block */
* {
  vertical-align: baseline;
}

/* Mixin pour les boutons */
/* Mixin pour une grille flexible (flexbox) */
/* Mixin pour un ombrage léger (box-shadow) */
/* Mixin pour les transitions */
/* Mixin pour centrer un élément */
/* Mixin pour les bordures arrondies */
/**
* Component Styles for Headings
* Headings for H1 and H6 Styles
*/
.mo-title-1 {
  display: block;
  font-size: 2em;
  line-height: 1.5;
}

.mo-title-2 {
  display: block;
  font-size: 1.5em;
  line-height: 1.5;
}

.mo-title-3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-4 {
  display: block;
  font-size: 1.25em;
  line-height: 1.5;
}

.mo-title-5 {
  display: block;
  font-size: 0.83em;
  line-height: 1.5;
}

.mo-title-6 {
  display: block;
  font-size: 0.67em;
  line-height: 1.5;
}

.mo-title-bold-1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-bold-2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-bold-3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-bold-4 {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-bold-5 {
  display: block;
  font-size: 0.83em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-title-bold-6 {
  display: block;
  font-size: 0.67em;
  font-weight: bold;
  line-height: 1.5;
}

.mo-rounded {
  border-radius: 0.5rem !important;
}

.mo-shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.mo-btn-warning {
  color: #ffffff;
  background-color: #ffa801;
}

.mo-text-center {
  text-align: center !important;
}

.mo-text-left {
  text-align: left !important;
}

.mo-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mo-item {
  position: relative;
  padding: 15px;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.mo-col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.mo-mt-0 {
  margin-top: 0 !important;
}

.mo-mt-1 {
  margin-top: 0.25rem !important;
}

.mo-mt-2 {
  margin-top: 0.5rem !important;
}

.mo-mt-4 {
  margin-top: 1.5rem !important;
}

.mo-mt-5 {
  margin-top: 2rem !important;
}

.mo-mb-0 {
  margin-bottom: 0 !important;
}

.mo-mb-1 {
  margin-bottom: 0.25rem !important;
}

.mo-mb-2 {
  margin-bottom: 0.5rem !important;
}

.mo-mb-4 {
  margin-bottom: 1.5rem !important;
}

.mo-mb-5 {
  margin-bottom: 2rem !important;
}

.mo-ml-0 {
  margin-left: 0 !important;
}

.mo-ml-1 {
  margin-left: 0.25rem !important;
}

.mo-ml-2 {
  margin-left: 0.5rem !important;
}

.mo-ml-4 {
  margin-left: 1.5rem !important;
}

.mo-ml-5 {
  margin-left: 2rem !important;
}

.mo-mr-0 {
  margin-right: 0 !important;
}

.mo-mr-1 {
  margin-right: 0.25rem !important;
}

.mo-mr-2 {
  margin-right: 0.5rem !important;
}

.mo-mr-4 {
  margin-right: 1.5rem !important;
}

.mo-mr-5 {
  margin-right: 2rem !important;
}

.mo-mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mo-mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mo-mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mo-mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mo-mx-5 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.mo-my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mo-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mo-my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.mo-my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mo-my-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mo-pt-0 {
  padding-top: 0 !important;
}

.mo-pt-1 {
  padding-top: 0.25rem !important;
}

.mo-pt-2 {
  padding-top: 0.5rem !important;
}

.mo-pt-4 {
  padding-top: 1.5rem !important;
}

.mo-pt-5 {
  padding-top: 2rem !important;
}

.mo-pb-0 {
  padding-bottom: 0 !important;
}

.mo-pb-1 {
  padding-bottom: 0.25rem !important;
}

.mo-pb-2 {
  padding-bottom: 0.5rem !important;
}

.mo-pb-4 {
  padding-bottom: 1.5rem !important;
}

.mo-pb-5 {
  padding-bottom: 2rem !important;
}

.mo-pl-0 {
  padding-left: 0 !important;
}

.mo-pl-1 {
  padding-left: 0.25rem !important;
}

.mo-pl-2 {
  padding-left: 0.5rem !important;
}

.mo-pl-4 {
  padding-left: 1.5rem !important;
}

.mo-pl-5 {
  padding-left: 2rem !important;
}

.mo-pr-0 {
  padding-right: 0 !important;
}

.mo-pr-1 {
  padding-right: 0.25rem !important;
}

.mo-pr-2 {
  padding-right: 0.5rem !important;
}

.mo-pr-4 {
  padding-right: 1.5rem !important;
}

.mo-pr-5 {
  padding-right: 2rem !important;
}

.mo-px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.mo-px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem !important;
}

.mo-px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem;
}

.mo-px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.mo-px-5 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.mo-py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mo-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.mo-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.mo-py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.mo-py-5 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.mo-content {
  width: 100%;
  padding: 1rem !important;
  margin: auto;
  text-align: left !important;
}

.mo-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.mo-socials .mo-social-item {
  display: block;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #002141;
  color: #002141;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
.mo-socials .mo-social-item i {
  font-size: 35px;
}

.mo-socials .mo-social-item:hover {
  border-color: #ffa801 !important;
  color: #ffa801 !important;
}

.justify-content-between {
  justify-content: space-between;
}

.mo-btn-voir {
  color: #ffffff;
  background-color: #ffa801;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  padding: 10;
}
.mo-btn-voir:hover {
  background-color: #ffa801;
  opacity: 0.8;
}

.mo-not-allowed {
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

.mo-text-justifier {
  text-align: justify;
}

.u-avatar-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.u-avatar-lg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.mo-title {
  font-size: calc(18px + 7 * (100vw - 320px) / 880);
  color: #002141;
}

.mo-section-title {
  font-size: calc(20px + 10 * (100vw - 320px) / 880);
  color: #002141;
}

.mo-subtitle {
  font-size: calc(13px + 2 * (100vw - 320px) / 880);
  opacity: 0.8;
  color: #002141;
}

p {
  font-size: calc(14px + 2 * (100vw - 320px) / 880);
  margin-bottom: 12px;
  letter-spacing: 0.6px;
}

pre {
  background: #eaf0fc;
  border: 2px solid #ced4da;
  padding: 10rem;
  border-radius: 0.3rem;
}

.mo-fixed-top {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.mo-affix {
  box-shadow: 0 6px 15px rgba(206, 212, 218, 0.3) !important;
}

.mo-none {
  display: none !important;
}

.mo-show {
  display: block !important;
}

.mo-w-25 {
  width: 25%;
}

.mo-w-50 {
  width: 50%;
}

.mo-w-75 {
  width: 75%;
}

.mo-w-100 {
  width: 100%;
}

.mo-wm-100 {
  width: 100%;
}

@media (width <= 599px) {
  .mo-row {
    flex-direction: column;
  }
  .mo-item {
    max-width: 100% !important;
  }
  .mo-col {
    max-width: 100% !important;
  }
}
/*================================================================== 
  :: Composants
  ===================================================================*/
.mo-custom-card {
  border-radius: 0.3rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.mo-custom-card .mo-card-body {
  padding: 55px 0;
  background-color: #ffffff;
}
.mo-custom-card .mo-card-body i {
  display: block;
  font-size: 40px;
  margin-bottom: 18px;
  color: #002141;
}
.mo-custom-card:hover, .mo-custom-card:active {
  border-color: #002141 !important;
  color: #002141;
}
.mo-custom-card:hover i, .mo-custom-card:active i {
  color: #002141 !important;
}

.testmonial-card {
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  max-width: 700px;
  margin: 10px auto;
  padding: 20px 15px;
}
.testmonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.testmonial-card .title {
  margin-top: 30px;
  font-size: 20px;
}

.mo-card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.mo-card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.mo-card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.mo-card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.mo-card-title {
  margin-bottom: 0.75rem;
}

.mo-card .post-details a {
  opacity: 0.6;
  color: #444;
  font-size: 15px;
}

.mo-card .post-details a i {
  padding-right: 5px;
}

.mo-layout-nav {
  background: #ffffff;
  padding: 1rem;
}
.mo-layout-nav .mo-nav-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  position: relative;
}
.mo-layout-nav .mo-nav-brand {
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.mo-layout-nav .mo-nav-brand .mo-nav-logo {
  max-width: 35px;
  max-height: 35px;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #ffa801;
}
.mo-layout-nav .mo-nav-brand img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 2px;
}
.mo-layout-nav .mo-nav-brand .mo-nav-toggler {
  display: none;
  max-width: 35px;
  max-height: 35px;
  border: 1px solid #ffa801;
}
.mo-layout-nav .mo-nav-brand .mo-nav-toggler-icon i {
  font-size: 30px;
  color: #ffa801;
}
.mo-layout-nav .mo-nav-menu ul {
  flex: 2 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-evenl;
  justify-content: space-evenl;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mo-layout-nav .mo-nav-menu ul .mo-nav-item {
  margin: 0.8rem;
  /* unvisited link */
  border-bottom: 1px solid #fff;
  /* visited link */
  /* mouse over link */
  /* selected link */
}
.mo-layout-nav .mo-nav-menu ul .mo-nav-item:visited {
  border-bottom: 1px solid #a9cce3;
}
.mo-layout-nav .mo-nav-menu ul .mo-nav-item:hover {
  border-bottom: 1px solid #f5b041;
}
.mo-layout-nav .mo-nav-menu ul .mo-nav-item:active {
  border-bottom: 1px solid #002141;
}
.mo-layout-nav .mo-nav-menu ul .mo-nav-link {
  font-size: 1.8rem;
  padding: 0;
  /* unvisited link */
  color: #002141;
  /* visited link */
  /* mouse over link */
  /* selected link */
}
.mo-layout-nav .mo-nav-menu ul .mo-nav-link:visited {
  color: #002141;
}
.mo-layout-nav .mo-nav-menu ul .mo-nav-link:hover {
  color: #f5b041;
}
.mo-layout-nav .mo-nav-menu ul .mo-nav-link:active {
  color: #002141;
}

@media all and (max-width: 768px) {
  .mo-nav-content {
    flex-direction: column;
    align-items: start !important;
    gap: 0;
  }
  .mo-nav-brand {
    width: 100%;
    flex: 1 1 auto;
  }
  .mo-nav-brand .mo-nav-toggler {
    display: block !important;
  }
  .mo-nav-menu ul {
    flex: 1 1 auto;
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    display: none;
  }
  .mo-nav-menu ul .mo-nav-item {
    border-bottom: 1px solid #ffa801;
  }
  .mo-nav-menu ul .mo-nav-item:hover {
    border-bottom: 1px solid #002141 !important;
  }
}
@media (width <= 599px) {
  .mo-nav-content .mo-nav-menu ul {
    flex-direction: column !important;
  }
  .mo-nav-content .mo-nav-menu ul .mo-nav-item {
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #ffa801;
  }
  .mo-nav-content .mo-nav-menu ul .mo-nav-item:hover {
    border-bottom: 1px solid #002141 !important;
  }
}
/*================================================================== 
  :: _buttons.scss 
  ===================================================================*/
.mo-btn {
  display: inline-block;
  font-size: 14px;
  margin: 0 2px;
  padding: 1rem;
  border: none;
  color: #002141;
}
.mo-btn.mo-o-warning {
  background-color: #fff;
  border: 2px solid #f5b041;
}
.mo-btn.mo-o-success {
  background-color: #fff;
  border: 2px solid #45b39d;
}
.mo-btn.mo-o-danger {
  background-color: #fff;
  border: 2px solid #e74c3c;
}
.mo-btn.mo-o-primary {
  background-color: #fff;
  border: 2px solid #002141;
}
.mo-btn.mo-o-secondary {
  background-color: #fff;
  border: 2px solid #3498db;
}
.mo-btn.mo-o-info {
  background-color: #fff;
  border: 2px solid #a9cce3;
}
.mo-btn.mo-warning {
  color: #fff;
  background-color: #f5b041;
}
.mo-btn.mo-success {
  color: #fff;
  background-color: #45b39d;
}
.mo-btn.mo-danger {
  color: #fff;
  background-color: #e74c3c;
}
.mo-btn.mo-primary {
  color: #fff;
  background-color: #002141;
}
.mo-btn.mo-secondary {
  color: #fff;
  background-color: #3498db;
}
.mo-btn.mo-info {
  color: #fff;
  background-color: #a9cce3;
  border: 2px solid #fff;
}

/*================================================================== 
  :: Layout
  ===================================================================*/
html {
  display: block;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --mo-font-size: 16px;
  --mo-font-family: Arial, sans-serif;
  --mo-primary: v.$primary;
  --mo-primary-hover: rgb(0.4%, 18.4%, 40.4%);
  --mo-warning: v.$warning;
  --mo-warning-hover: rgb(100%, 75.3%, 30.6%);
  --mo-success: v.$success;
  --mo-success-hover: rgb(29.8%, 65.9%, 0.4%);
  --mo-danger: rgb(90.2%, 0%, 0%);
  --mo-danger-hover: rgb(100%, 10.2%, 10.2%);
  --mo-info: rgb(56.1%, 92.5%, 100%);
  --mo-info-hover: rgb(76.1%, 96.1%, 100%);
  --mo-dark: rgb(0%, 5.9%, 6.7%);
  --mo-light: rgb(255, 255, 255);
  --mo-secondary: rgb(0%, 33.3%, 65.5%);
  --mo-secondary-hover: rgb(0%, 43.5%, 85.5%);
  --mo-default: rgb(231, 231, 231);
  --mo-default-hover: rgb(224, 224, 224);
}

body {
  color: var(--mo-primary);
  font-size: var(--mo-font-size);
  font-family: var(--mo-font-family);
  box-sizing: border-box;
}

.mo-container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mo-container {
  width: 100%;
  padding-right: 1.2em;
  padding-left: 1.2em;
  margin-right: auto;
  margin-left: auto;
}

.mo-skill-container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .mo-container {
    max-width: 1320px;
  }
  .mo-skill-container {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .mo-container {
    max-width: 1140px;
  }
  .mo-skill-container {
    max-width: 800px;
  }
}
@media screen and (min-width: 992px) {
  .mo-container {
    max-width: 960px;
  }
  .mo-skill-container {
    max-width: 600px;
  }
}
/* =========== Header layout =================== */
.mo-layout-header {
  height: 94vh;
  min-height: 650px;
  border-bottom: 1px solid #dee2e6;
  background-image: url("./../images/vecteezy_vector-concept.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}
.mo-layout-header .mo-layout-header-content {
  position: relative;
  width: 20em;
  top: 35vh;
  left: 6vw;
  background-color: #ffffff;
  border: 2px dotted #002141;
  padding: 0.5rem;
}
.mo-layout-header .mo-widget {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  max-width: 650px;
  width: 95%;
  margin: 0 auto;
  border-radius: 50px;
  border: 1px solid #dee2e6;
  padding: 20px 0;
  margin-top: 66vh;
  z-index: 999;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.mo-layout-header .mo-widget .mo-widget-item {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  border-right: 1px solid #dee2e6;
}
.mo-layout-header .mo-widget .mo-widget-item:last-child {
  border-right: 0;
}
.mo-layout-header .mo-widget .mo-widget-item h2,
.mo-layout-header .mo-widget .mo-widget-item p {
  margin: 0;
}
.mo-layout-header .mo-widget .mo-widget-item p {
  opacity: 0.7;
  font-size: 14px;
}
.mo-layout-header .mo-widget .mo-widget-item h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.mo-subtitle {
  color: #ffa801;
}

/* ===========  Section layout =================== */
.section {
  position: relative;
  padding: 8.5rem 0;
}
.section:nth-child(even) {
  background: rgb(236.5086206897, 238.75, 240.9913793103);
}
.section.bg-white {
  background-color: #ffffff;
}
.section.bg-gray {
  background: hsl(220, 75%, 100.2941176471%);
}

.mo-img-wrapper {
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 30px;
  display: block;
}

.mo-img-wrapper img {
  position: relative;
  width: 100%;
  z-index: 8;
}

.mo-img-wrapper .mo-overlay {
  background: #ffa801;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 100%;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mo-img-wrapper .mo-overlay .mo-overlay-infos {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  color: #fff;
}

.mo-img-wrapper .mo-overlay .mo-overlay-infos h5 {
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 900;
}

.mo-img-wrapper .mo-overlay .mo-overlay-infos a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.mo-img-wrapper .mo-overlay .mo-overlay-infos a:hover {
  background: #ffffff;
  color: #ffa801;
}

.mo-img-wrapper:hover .mo-overlay,
.mo-img-wrapper:active .mo-overlay {
  bottom: 0;
  visibility: visible;
  opacity: 0.8;
}

.mo-img-wrapper:hover .mo-overlay .mo-overlay-infos,
.mo-img-wrapper:active .mo-overlay .overlay-infos {
  top: 50%;
}

#service {
  background-color: #ffa801;
}
#service h6 {
  color: #ffffff;
}

/* =========== FIN Section layout =================== */
/* =========== Footer layout =================== */
.page-footer {
  background: rgb(251.85, 252.75, 254.55);
}
.page-footer .mo-row {
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.page-footer p {
  margin-bottom: 0;
}
.page-footer .mo-socials {
  max-width: 210px;
  margin-left: auto;
}
.page-footer .mo-socials .mo-social-item {
  margin-left: auto;
}

/* ========== FIN Footer layout =================== */
/*================================================================== 
  :: Page
  ===================================================================*/
/*================================================================== 
  :: _login.scss 
  ===================================================================*/
.mo-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #fff, #fff); /* Gradient background */
}

.mo-login-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mo-login-wrapper .mo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}
.mo-login-wrapper .mo-box-logo {
  margin-bottom: 20px;
}
.mo-login-wrapper .mo-box-logo img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.mo-login-wrapper .mo-box-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 12px 24px #002141;
  text-align: center;
  width: 100%;
}
.mo-login-wrapper h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #002141;
}
.mo-login-wrapper .mo-form-control {
  margin-bottom: 20px;
  text-align: left;
}
.mo-login-wrapper .mo-form-control label {
  font-size: 14px;
  color: #002141;
  margin-bottom: 5px;
  display: block;
}
.mo-login-wrapper .mo-form-control input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.mo-login-wrapper .mo-form-control input:focus {
  border-color: #f5b041;
  box-shadow: 0 0 8px #f5b041;
  outline: none;
}
.mo-login-wrapper .submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #f5b041;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.mo-login-wrapper .submit-btn:hover {
  background-color: #f5b041;
}
.mo-login-wrapper .submit-btn:active {
  background-color: #f5b041;
}

/*================================================================== 
  :: _account.scss 
  ===================================================================*/
.mo-acount-wrap {
  margin-top: 10rem;
}

.sidebar {
  -webkit-box-orient: column;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20rem;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sidebar ul {
  -webkit-box-orient: column;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  width: 100%;
  height: 4rem;
  text-align: left;
  line-height: 4rem;
  padding-left: 1.5rem;
  color: #002141;
  cursor: pointer;
}
.sidebar ul li:hover {
  color: #f5b041;
}

/*# sourceMappingURL=manzowa.css.map */
