<section id="portfolio" class="section mo-section-portfolio">
    <div class="mo-container mo-text-center">
        <h6 class="mo-subtitle">Portfolio</h6>
        <h6 class="mo-section-title mb-4">Découvrez mes merveilleuses œuvres</h6>
        <p class="mb-5 pb-4">Exploration de me projets anterieure et en cours de réalisations. <br> Plus plus details allez sur github en haut.</p>
        <div class="mo-row">
            <div class="mo-col-lg-4">
                <div class="mo-card">
                    <div class="mo-card-img">
                        <img src="./images/folio/folio-1.jpg" alt="" class="w-100">
                    </div>
                    <div class="mo-card-overlay">
                        <div class="mo-card-overlay-infos">
                            <h5>Project plugin utilisateur</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)" ><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="mo-card">
                    <div class="mo-card-img">
                        <img src="./images/folio/folio-2.jpg" alt="" class="w-100">
                    </div>
                    <div class="mo-card-overlay">
                        <div class="mo-card-overlay-infos">
                            <h5>API DOC</h5>
                            <a href="/api/v1/docs"><i class="ti-zoom-in"></i></a>
                            <a href="/api/v1/docs"><i class="ti-link"></i></a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="mo-col-lg-4">
                <div class="mo-card">
                    <div class="mo-card-img">
                        <img src="./images/folio/folio-3.jpg" alt="" class="w-100">
                    </div>
                    <div class="mo-card-overlay">
                        <div class="mo-card-overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)" class="mo-not-allowed"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)" class="mo-not-allowed"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="mo-card">
                    <div class="mo-card-img">
                        <img src="./images/folio/folio-4.jpg" alt="" class="w-100">
                    </div>
                    <div class="mo-card-overlay">
                        <div class="mo-card-overlay-infos">
                            <h5>Application mobile Wenzischool</h5>
                            <a href="https://play.google.com/apps/internaltest/4700551388783200911" target="_blank"><i class="ti-zoom-in"></i></a>
                            <a href="https://play.google.com/apps/internaltest/4700551388783200911" target="_blank"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mo-col-lg-4">
                <div class="mo-card">
                    <div class="mo-card-img">
                        <img src="./images/folio/folio-5.jpg" alt="" class="w-100">
                    </div>
                    <div class="mo-card-overlay">
                        <div class="mo-card-overlay-infos">
                            <h5>SITE E-COMMERCE</h5>
                            <a href="javascript:void(0)" class="mo-not-allowed"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)" class="mo-not-allowed"><i class="ti-link"></i></a>
                            </div>
                        </div>
                </div>
                <div class="mo-card">
                    <div class="mo-card-img">
                        <img src="./images/folio/folio-6.jpg" alt="" class="w-100">
                    </div>
                    <div class="mo-card-overlay">
                        <div class="mo-card-overlay-infos">
                            <h5>Site Manzowa</h5>
                            <a href="/"><i class="ti-zoom-in"></i></a>
                                <a href="/"><i class="ti-link"></i></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>