<section id="projet" class="section mo-section-projet">
    <div class="mo-container mo-text-center">
        <h6 class="mo-subtitle">Projets</h6>
        <h6 class="mo-section-title mb-4">Projet en cours de réalisation</h6>
        <p class="mb-5 pb-4">Ici tout les projets sont en cours de la réalisation et d'autres sont en mis à jours.<br>Cliquez sur le button voir pour visualiser en détail.</p>
        <div class="mo-row">
            <div class="mo-col-lg-4">
                <div class="mo-card">
                    <div class="mo-card-header">
                        <div class="mo-card-img">
                            <img src="./images/projet/projet-1.jpg" alt="" class="mo-card-img-top w-100">
                        </div>
                    </div>
                    <div class="mo-card-body">
                        <h5 class="mo-card-title">
                            <a href="javascript:void(0)">Wenzischool</a>
                        </h5>
                        <p class="mo-card-text">Wenzischool est une application mobile qui permet de s'informer sur les écoles et les événements lien aux écoles.</p>
                    </div>
                    <div class="mo-card-footer">
                        <a href="https://play.google.com/apps/internaltest/4700551388783200911" class="mo-btn mo-warning mo-rounded" target="_blank">voir</a>
                    </div>
                </div>
            </div>
            <div class="mo-col-lg-4">
                <div class="mo-card">
                    <div class="mo-card-header">
                        <div class="mo-card-img">
                            <img src="./images/projet/projet-2.jpg" alt="" class="mo-card-img-top w-100">
                        </div>
                    </div>
                    <div class="mo-card-body">
                        <h5 class="mo-card-title">
                            <a href="javascript:void(0)">Api school</a>
                        </h5>
                        <p class="mo-card-text">API school est une plateforme qui fournie l'API destiné à l'application mobile Wenzischool.</p>
                    </div>
                    <div class="mo-card-footer">
                        <a href="{{ url_for('doc.index') }}" class="mo-btn mo-warning mo-rounded">voir</a>
                    </div>
                </div>
            </div>
            <div class="mo-col-lg-4">
                <div class="mo-card">
                    <div class="mo-card-header">
                        <div class="mo-card-img">
                            <img src="./images/projet/projet-3.jpg" alt="" class="mo-card-img-top w-100">
                        </div>
                    </div>
                    <div class="mo-card-body">

                        <h5 class="mo-card-title">
                            <a href="javascript:void(0)">Validator FORM</a>
                        </h5>
                        <p class="mo-card-text">Validator fom est un composant PHP qui permet de valider l'intégrite de données soumis via un formulaire.</p>
                    </div>
                    <div class="mo-card-footer">
                        <a href="https://github.com/manzowa/validator" target="_blank" class="mo-btn mo-warning mo-rounded">voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>