<section id="service" class="section mo-section-service">
    <div class="mo-container mo-text-center mt-4">
        <h6 class="mo-subtitle">Service</h6>
        <h6 class="mo-section-title mb-4">Ce que je fais</h6>
        <p class="mb-5 pb-4">Je mets mon expertise au service de vos projets IT, <br>dans les domaines suivants </p>

        <div class="mo-row">
            <div class="mo-item">
                <div class="mo-card">
                    <div class="mo-card-body">
                        <i class="lni lni-code-1 mo-h1"></i>
                        <h5 class="mo-h3">Développeur Back </h5>
                        <p class="mo-h6">Création d’architectures serveur efficaces, sécurisées et évolutives.</p>
                    </div>
                </div>
            </div>
            <div class="mo-item">
                <div class="mo-card">
                    <div class="mo-card-body">
                        <i class="lni lni-code-1 mo-h1"></i>
                        <h5 class="mo-h3">Développeur Front </h5>
                        <p class="mo-h6">Conception d’interfaces web modernes, intuitives et réactives.</p>
                    </div>
                </div>
            </div>
            <div class="mo-item">
                <div class="mo-card">
                    <div class="mo-card-body">
                        <i class="lni lni-phone mo-h1"></i>
                        <h5 class="mo-h3">Développeur Mobile</h5>
                        <p class="mo-h6">Réalisation d’applications mobiles natives ou hybrides pour iOS et Android.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>