<section class="section mo-section-skill" id="skills">
    <div class="mo-container mo-text-center">
        <h6 class="mo-subtitle">Compétences</h6>
        <h6 class="mo-section-title mb-4">Pourquoi me choisir</h6>
        <p class="mb-5 pb-4">Voici les comptences que je peux mettre en profit au sein de votre environnement. <br> et à noter que je suis néophyte dans Dev Mobile.</p>
        <div class="text-left">
            <div class="mo-content mo-skill-container">
                <div id="app-skills"></div>
            </div>
        </div>
    </div>
</section>