{% extends 'base.html.twig' %}
{% block title %} | Suppression ecole{% endblock %}
{% block content %}
    <div class="mo-container mo-mt-5">
        <div class="mo-row mo-account">
            <div class="mo-w-25">
                {% include 'account/menu/_sidebar.html.twig' %}
            </div>
            <div class="mo-w-75">
                <h2> Suppression ecole </h2>
            </div>
        </div>
    </div>    
{% endblock %}