# CORPS options
#Header Set Access-Control-Allow-Origin "*"

# Fixing  for Apache AUTHORIZATION  httpd Header as it is stripped by default for security and should be 
# enable explicity when needed
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

RewriteEngine On
RewriteBase "/"
#RewriteCond "%{REQUEST_URI}" !=/index.php
RewriteCond %{SERVER_NAME} =www.manzowa.local [OR]
RewriteCond %{SERVER_NAME} =manzowa.local
RewriteCond %{REQUEST_FILENAME}% !-d 
RewriteCond %{REQUEST_FILENAME}% !-f 
# RewriteRule ^(.*)$ index.php [QSA,L]

RewriteRule ^https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]

#Start API
RewriteRule ^api$ index.php [QSA]
RewriteRule ^api/v1$ index.php [QSA]
#Authentification
RewriteRule ^api/v1/sessions$  index.php  [QSA]
RewriteRule ^api/v1/sessions/([0-9]+)$  index.php?sessionid=$1  [QSA]
#Schools
RewriteRule ^api/v1/ecoles$ index.php [QSA]
RewriteRule ^api/v1/ecoles/([0-9]+)$ index.php?ecoleid=$1   [QSA]
#Adresses
RewriteRule ^api/v1/ecoles/([0-9]+)/adresses$ index.php?ecoleid=$1  [QSA]
RewriteRule ^api/v1/ecoles/([0-9]+)/adresses/([0-9]+)$ index.php?ecoleid=$1&adresseid=$2  [QSA]
#Page
RewriteRule ^api/v1/ecoles/page/([0-9]+)$ index.php?page=$1  [QSA]
#Images
RewriteRule ^api/v1/ecoles/([0-9]+)/images$ index.php?ecoleid=$1  [QSA]
RewriteRule ^api/v1/ecoles/([0-9]+)/images/([0-9]+)$ index.php?ecoleid=$1&imageid=$2  [QSA]
RewriteRule ^api/v1/ecoles/([0-9]+)/images/([0-9]+)/attributes$ index.php?ecoleid=$1&imageid=$2  [QSA]
#Articles
RewriteRule ^api/v1/articles$ index.php  [QSA]
RewriteRule ^api/v1/articles/page/([0-9]+)$ index.php?page=$1  [QSA]
#Users
RewriteRule ^api/v1/users$ index.php [QSA]