{% extends 'base.html.twig' %}
{% block content %}
<div class="mo-body">
    <div class="mo-login-wrapper">
        <div class="mo-box">
            <div class="mo-box-logo">
                <a href="/">
                    <img src="/images/logo/logo-96x96.png" alt="Logo">
                </a>
            </div>
            <div class="mo-box-form">
                <h2>Contact Information</h2>
                <div>
                    <span><strong>Nom Complet:</strong> Christian SHUNGU</span><br>
                    <span><strong>WhatsApp:</strong> +33 603 620 181</span><br>
                    <span><strong>Adresse:</strong> Vilenneuve Saint Georges, France</span><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}