/**
* Component Styles for Headings
* Headings for H1 and H6 Styles
*/
.mo-title-1 {
    display: block;
    font-size: 2em;
    line-height: 1.5;
}
.mo-title-2{
    display: block;
    font-size: 1.5em;
    line-height: 1.5;
}
.mo-title-3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold; 
    line-height: 1.5;
}
.mo-title-4 {
    display: block;
    font-size: 1.25em;
    line-height: 1.5;
}
.mo-title-5 {
    display: block;
    font-size: .83em;
    line-height: 1.5;

}
.mo-title-6 {
    display: block;
    font-size: .67em;
    line-height: 1.5;
}
.mo-title-bold-1 {
    display: block;
    font-size: 2em;
    font-weight: bold; 
    line-height: 1.5;
}
.mo-title-bold-2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold; 
    line-height: 1.5;
}
.mo-title-bold-3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold; 
    line-height: 1.5;
}
.mo-title-bold-4 {
    display: block;
    font-size: 1.25em;
    font-weight: bold; 
    line-height: 1.5;
}
.mo-title-bold-5 {
    display: block;
    font-size: .83em;
    font-weight: bold; 
    line-height: 1.5;
}
.mo-title-bold-6 {
    display: block;
    font-size: .67em;
    font-weight: bold; 
    line-height: 1.5;
}
/* ============================= end the headings =============================== */