<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_head.html.twig" %}
        {% block stylesheets %}{% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <script src="https://kit.fontawesome.com/05141a746a.js" crossorigin="anonymous"></script>
        <title>{% block title %}Manzowa{% endblock %}</title>
    </head>
    <body>
        <div class="mo-wrapper">
         {% if is_maintenance == false  %}
            <!--header start -->
            {% include "partials/_header.html.twig" %}
            <!--header end-->
         {% endif %}
        {% if is_maintenance == false %}
            <!--Section start -->
            {% include "partials/_sidebar.html.twig" %}
            <!--Section end -->
        {% endif %}

        <!--main start -->
        <main role="main">
            {% block body %}{% endblock %}
            <!-- Inclusion The Modal -->
            {% include "modal/_modal.html.twig" %}
        </main>
        <!--main end -->

        {% if is_maintenance == false  %}
            <!--footer start -->
            {% include "partials/_footer.html.twig" %}
            <!--footer end-->
         {% endif %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>