<!DOCTYPE html>
<html>
    <head>
        {% include "partials/_head.html.twig" %}
        {% block stylesheets %}{% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet"> -->
        <script src="https://kit.fontawesome.com/05141a746a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="mo-wrapper">
         {% if is_maintenance == false  %}
            <!--header start -->
            {% include "partials/_header.html.twig" %}
            <!--header end-->
         {% endif %}
        {% if is_maintenance == false %}
            <!--Section start -->
            {% include "partials/_sidebar.html.twig" %}
            <!--Section end -->
        {% endif %}

        <!--main start -->
        <main role="main">
            {% block body %}{% endblock %}
        </main>
        <!--main end -->

        {% if is_maintenance == false  %}
            <!--footer start -->
            {% include "partials/_footer.html.twig" %}
            <!--footer end-->
         {% endif %}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>