/*================================================================== 
  :: _page.scss 
  ===================================================================*/
@use "../base/variable" as v;
@use "../base/mixin" as m;

.mo-account {
  margin-top: 10rem;
}

.sidebar {
  @include m.flex-column;
  @include m.align-items;
  @include m.justify-content;
  width: 90%;
  ul {
    @include m.flex-column;
    @include m.align-items;
    background-color: v.$light;
    list-style: none;
    margin: 1rem 0;
    li {
      width: 100%;
      line-height: 4rem;
      padding-left: 1.25rem;
      color: v.$primary;
      cursor: pointer;
      &:hover {
        color: v.$light;
        background-color: v.$primary;
      }
      a {
        display: block;
      }
    }
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
@media (max-width: 599px) {
  .sidebar {
    width: 100%;
  }
}